<table class="border-collapse border">
  <thead>
    <tr>
      <th role="none"></th>
      <th *ngFor="let column of data.columns" class="border bg-gray-100">{{ column }}</th>
    </tr>
  </thead>
  <tbody [formGroup]="form" #tableBody>
    <tr *ngFor="let row of data.rows">
      <th role="rowheader" class="border bg-gray-100">{{ row }}</th>
      <td *ngFor="let column of data.columns" class="border">
        <label class="block relative">
          <div
            *ngIf="!isFocused(column, row)"
            class="block px-2 py-2 absolute w-full bg-white"
            (click)="focusCellInput(column, row)"
          >
            {{calculateValueForCell(column, row)}}
          </div>
          <input
            type="text"
            [attr.data-column]="column"
            [attr.data-row]="row"
            [formControlName]="cellIDFor(column, row)"
            (focus)="focusCellInput(column, row)"
            (blur)="blurCellInput(column, row)"
            (keyup.enter)="enterKey(column, row)"
            placeholder="{{ column + row }}"
            class="block px-2 py-2 focus:shadow-outline focus:bg-blue-100"
          >
        </label>
      </td>
    </tr>
  </tbody>
</table>

<aside class="mt-4">
  <h2 class="font-bold">Raw values</h2>
  <dl *ngFor="let cell of data.cellValues | keyvalue">
    <div class="flex">
      <dt class="w-12 font-bold inline-block">{{cell.key}}</dt>
      <dd><pre>{{cell.value}}</pre></dd>
    </div>
  </dl>
</aside>
